.icon-chevron,.icon-chevron\:regular {
  background-image:url('icons/icons.svg');
  background-position:0 0;
  background-repeat:no-repeat
}

.icon-chevron-dims {
  width:16px;
  height:16px
}

.icon-close,.icon-close\:regular {
  background-image:url('icons/icons.svg');
  background-position:0 -16px;
  background-repeat:no-repeat
}

.icon-close-dims {
  width:16px;
  height:16px
}

.icon-hamburger,.icon-hamburger\:regular {
  background-image:url('icons/icons.svg');
  background-position:0 -32px;
  background-repeat:no-repeat
}

.icon-hamburger-dims {
  width:17px;
  height:14px
}

.icon-logo,.icon-logo\:regular {
  background-image:url('icons/icons.svg');
  background-position:0 -46px;
  background-repeat:no-repeat
}

.icon-logo-dims {
  width:114px;
  height:15px
}

.icon-pb-lockup,.icon-pb-lockup\:regular {
  background-image:url('icons/icons.svg');
  background-position:0 -61px;
  background-repeat:no-repeat
}

.icon-pb-lockup-dims {
  width:125px;
  height:125px
}
